{{ define "content" }}
<style>
.movie-container {
	width: 66%;
	margin-right: auto;
	margin-left: auto;
}

.movie-container .row {
	display: flex;
	justify-content: space-between;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 25px;
}

.movie-container .left-column {
	flex: 33%;
}

.movie-container .right-column {
	flex: 60%;
}

.movie-container .title {
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.movie-container .description {
	font-size: 1.2rem;
}

.movie-container .movies {
	display: flex;
	flex-wrap: wrap;
	margin: 25px 0;
}

.movie-container .movie {
	flex: 0 0 calc(33.33% - 20px);
	margin: 0 10px 25px 10px;
	padding: 10px;
	background-color: #f2f2f2;
}

.movie-container .movie h2 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.movie-container .movie p {
	font-size: 1rem;
	margin-bottom: 0;
}
</style>

{{ if .Director }}
<div class="movie-container">
	<!-- for poster and description -->
	<div class="row">
		<div class="left-column">
			{{ if eq .Director.Img.Value "" }}
			<img src="/assets/nophoto.png">
			{{ else }}
			<img src={{.Director.Img.Value}}>
			{{ end }}
		</div>
		<div class="right-column">
			<div class="title">
				{{ .Director.Name.Value }}
			</div>
			<p class="description">
				{{ .Director.Description.Value }}
			</p>
		</div>
	</div>
	<div class="movies">
		{{ range .Director.Movies }}
			<div class="movie">
				<a href="movie?id={{ .ID }}" style="text-decoration: none; color: inherit;">
					<h2>{{ .Name.Value }}</h2>
					<p>Year: {{ .Year }}</p>
				</a>
			</div>
		{{ end }}
	</div>
</div>

{{ else }}
<h1>NOT FOUND</h1>
{{ end }}
{{ end }}